<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="container">
      <h1>Welcome to Postal Rate Calculator</h1>

      <form action="rate" method="POST">
        Weight not over (oz.):
        <input type="text" pattern="\d+(\.\d{1,2})?" name="weight" id="weight" required><br>
        Mail type:
        <select name="mail" required>
          <option value="">Select...</option>
          <option value="stamped"> Letters (Stamped)</option>
          <option value="metered"> Letters (Metered)</option>
          <option value="flats"> Large Envelopes (Flats)</option>
          <option value="parcels"> Parcels</option>
        </select> <br>
        <input type="submit" value="Submit">
      </form>

    </div>

</body>

</html>
