<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="container">
      <h3>For weight not over <%= weight %> oz in <%= name %> your rate is:</h3>
      <p>
        $ <%= rate %>
      </p>
    </div>

</body>

</html>
